<div class="top-block">
  <div class="container">
    <div class="span-9">
      <article class="top-info">
        <h1>We’ve got you covered.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue mattis rhoncus. Cras porta, nisl at elementum laoreet, velit mauris mollis dolor, et facilisis dolor elit non nunc.</p>
        <a class="more gradient" href="#">Read More</a>
      </article>
    </div>
    <div class="span-14 prepend-1 last">
      <div class="visual">
        <%= image_tag('img01.png', :alt => 'image description', :height => 240, :width => 538) %>
      </div>
    </div>
  </div>
</div>

<div id="main">
  <div class="container">
    <div class="boxes clearfix">
      <div class="span-11 info-box">
        <div class="visual">
          <a href="#">
            <%= image_tag('img02.png', :alt => 'image description', :height => 123, :width => 123) %>
          </a>
        </div>
        <article class="text-box">
          <h2>Service One</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet feugiat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="more gradient" href="#">GO</a>
        </article>
      </div>
      <div class="span-11 prepend-2 last info-box">
        <div class="visual">
          <a href="#">
            <%= image_tag('img02.png', :alt => 'image description', :height => 123, :width => 123) %>
          </a>
        </div>
        <article class="text-box">
          <h2>Feature One</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet feugiat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="more gradient" href="#">GO</a>
        </article>
      </div>
      <hr class="space" />
      <div class="span-11 info-box">
        <div class="visual">
          <a href="#">
            <%= image_tag('img02.png', :alt => 'image description', :height => 123, :width => 123) %>
          </a>
        </div>
        <article class="text-box">
          <h2>Service Two</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet feugiat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="more gradient" href="#">GO</a>
        </article>
      </div>
      <div class="span-11 prepend-2 last info-box">
        <div class="visual">
          <a href="#">
            <%= image_tag('img02.png', :alt => 'image description', :height => 123, :width => 123) %>
          </a>
        </div>
        <article class="text-box">
          <h2>Feature Two</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet feugiat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="more gradient" href="#">GO</a>
        </article>
      </div>
    </div>

    <div class="span-24">
      <form action="#" class="sign-up-form clearfix">
        <fieldset>
          <p class="note">Sign-up to be notified about news. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
          <div class="area">
            <input type="text" class="text" title="Email" />
            <input type="submit" class="submit gradient" value="Submit" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
