<!DOCTYPE html>
<!--
  This file is included as part of the Redy theme from
  RailsThemes.com, which is licensed for use in a single website. The
  license can be found in the doc folder of this application or at
  railsthemes.com/terms.
-->


<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="gt-ie9" lang="en"> <![endif]-->
<!--[if gte IE 9]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="designer" content="Luke Flener, RailsThemes.com" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Redy: <%= title = (yield :title); title.blank? ? "" : title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="message_holder">
      <%= render 'layouts/flash', :flash => flash %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
